.container .d-flex img{
  max-width: 230px;
  height: 100px;
  margin: 80px;
}
/* @media screen and(max-width:390px) {
  .container .d-flex img{
    max-width: auto;
    height: auto;
    /* margin: 20px; */
    /* margin-left: -20px; */
    /* padding-left: -0px; */
  /* } */
/* } */