

.blue-gradient-section{
    background-color: linear-gradient(to button, #0c61bc,#0056b3);
    color: #f3eded;
    padding: 0;
    text-align: left;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#146ff4,#06773c);
    height: 800px;
   
    /* width: 100% !important; */

}
/* .blue-gradient-section #left{
    
} */

.blue-gradient-section .h5{
    font-size: 19px;
   /* font-weight: 20px; */
    margin: auto;
    font-weight: 400;
    margin: auto;
}
.blue-gradient-section .p2{
    font-size: 28px;
    margin-bottom: 20px;
    /* background-color: linear-gradient(#007bff,#0056b3); */
    font-weight: 400;
    /* margin: 20px; */
    margin: auto;
}
.blue-gradient-section .p1{
    font-size: 55px;
    margin: auto;
    /* background-color: linear-gradient(#007bff,#0056b3); */
    font-weight: 600;
}
.blue-gradient-section a.btn{
    background-color: #ffffff;
    color: #007bff;
    border-radius: 8px;
    padding: 10px 20px;
    text-decoration: non;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blue-gradient-section a.btn:hover{
   
    background-color: #0056b3;
    color: #fff;
    
}

.blue-gradient-section .section-image{
    margin-bottom: 20px;
    height: 300px ;
    width: 1000px ;

    /* margin-right: auto; */
    height: auto;
    text-align: right;
    /* position: relative; */
    /* padding: 20px; */

    /* .. */
   object-fit: cover;
   max-width: 90%;
   height: auto;
   vertical-align: middle;
   /* horizontal-align:middle; */
   border-radius: 5px;
}
/* .blue-gradient-section .col-sm-6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} */

@media(max-width:768px){
    .blue-gradient-section .section-image{
      max-width: 60%;
      align-items: center;
    }
}
@media(max-width:480px){
    .blue-gradient-section .section-image{
      max-width: 40%;
    }
}