*{
    
    padding:0;
    margin: 0;
    
}
.card {
    animation: fadeInAnimation ease-in-out 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color:#278fdd ;
    float: center;
    /* padding-left:250px ; */
    height:500px;

}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.card .btn{
    width: 200px;
    height:  55px;
    font-size: 20px;
    border-radius: 30px;
    
    color: #278fdd;
    text-decoration: none;
    margin: 20px;
    background-color:#eff2f4 ;
}
.card .btn:hover{
    background-color: #278fdd;
    color: #eff2f4 !important;
    text-decoration: none !important;
    border: none;
    width: 205px;
    height:  55px;
    font-size: 20px;
    border: 2px solid #eff2f4;
    padding: none;
}
@media screen and (max-width: 200px){
    .card .btn{
        width:100px ;
        height: 130px;
    }   
}
.card-text{
    font-size: 22px;
    background-image: linear-gradient(100deg, #016ECC 0%, #19D2FE 100%);
}
.card-title{
    padding: 80px 0px 40px 0px;
    background-image: linear-gradient(100deg, #016ECC 0%, #19D2FE 100%);
}