
.container{
  margin-top: 30px;
  overflow: hidden;
  position: relative;
  /* background-color: #016ECC0F; */
}
.slider{
  display: flex;
  transition:transform 2s ease-in-out;
  margin-top: 100px;
}
.slide{
  flex: 0 0 calc(100% / 3);
  text-align: center;
  vertical-align: middle;
}
.img-responsive{
  max-width: 100%;
  height: auto;
}
.carousel-button{
  position: absolute;
  top: 50px;
  transform: translateX(-50%);
 
  padding: 10px;
  cursor: pointer;
}
.carousel-button .left{
  left: 0;
}
.carousel-button .right{
  right: 0;
}
#bold{
  position: sticky;
  margin-top: 50px;
}


/* new section third  */
#cards{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  
  
}
.card{
  margin: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #939ea80f;
  height: 400px;
  width: 320px !important;
  
}
.card img{
  width: 60px;
  height: 150px;
  align-self: center;
  margin-top: 20px;
}
.card-body h2{
  font-size: 25px;
  margin: 8px;
  text-align: center;
  color: hsla(180, 1%, 24%, 0.903);
  margin-top: 0px;
  /* margin-bottom: 20px; */
}
.card-body p{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;

}

/* @media screens and (max-width:300px){
  .row .card .card-body .sectwo{
    font-size: 20px;
  }
} */

/* section 3  */


#thirdSec{
  display: flex !important;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  background-color: linear-gradient(to button, #0c61bc,#0056b3);
  /* --widgets-spacing: 20px; */
  

}
.imageCard,.headingCard{
  /* flex: 1.7; */
  padding: 5px;
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  /* align-items: center; */
  text-align: center;
  /* --widgets-spacing: 40px; */
  
}
      
.imageCard img{
  height: 480px;
  max-width:79% !important;
  border: none;
  border-radius: 0;
  box-shadow: none;
  /* float: right; */
  vertical-align: middle;
  display: inline-block;
  /* margin-left: 3000px; */
  margin-right: 20px;
  margin-top: -20px;
  /* width: auto; */

} 
.headingCard{
 
  /* flex-direction: initial;
  flex-wrap: initial;
  justify-content: initial;
  align-items: initial;
  align-content: initial;
  gap: initial;
  flex-basis: initial;
  flex-grow: initial;
  flex-shrink: initial;
  order: initial; */
  align-self: initial;
  margin-top: 30px;
  height: auto;
  text-align: left;
  max-width: 100%;
}


.headingCard h5{
  font-weight:600;
  margin: 0;
  color:#007bff;
  max-width: 50%;
  font-size: 17px;
  /* width: 110px; */
}

.headingCard h4{
  font-size: 40px;
  /* font-size: 50px; */
  font-weight: 510;
  line-height: 1em;
  margin-top: 18px;
  margin-bottom: 18px;
  color: hsla(180, 1%, 24%, 0.903);
  
}
.headingCard p{
  font-size: 17px;
  margin-top: 10px;
  max-width: 90%;
  /* font-weight: 600; */
}
.btn{
  background-color: #007bff;
  
  color: #ffffff;
  border-radius: 8px;
  padding: 10px 20px;
  text-decoration: none;
  /* transition: background-color 0.3s, color 0.3s; */
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 600;
  /* font-size: 20px; */
}
.headingCard a.btn:hover{
 
  background-color:  #fff;
  color:#0056b3;
  border: 1px solid #0056b3;
  font-size: 17px;
  
}
@media screen and (max-width:768px){
  #thirdSec{
    flex-direction: column !important;
    text-align: center;
    max-width: 100%;
    height: auto;
    
  }
  .imageCard,
  .headingCard {
    flex-direction: none;
    width: 100%;
    margin: 0;
    height: auto;
  }
}

@media screen and (max-width:576pxpx) {
  .imageCard img{
    max-height: 400px;
    text-align: center;
    width: 100%;
    height: auto;
  }
  .headingCard h4{
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    height: auto;
   
  }
}

/* -----section 4  fulllength card 2nd-----  */


#fourthSec{
    display: flex !important;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px !important;
    background-color: linear-gradient(to button, #0c61bc,#0056b3);
  /* --widgets-spacing: 20px; */
  

}
.imageCard1,.headingCard1{
  /* flex: 1.7; */
  padding: 5px;
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  /* align-items: center; */
  text-align: center;
  margin-top:10px ;
  /* --widgets-spacing: 40px; */
  
}
      
.imageCard1 img{
  height: 480px;;
  max-width:79% !important;
  border: none;
  border-radius: 0;
  
  
  box-shadow: none;
  /* float: right; */
  /* vertical-align: middle; */
  display: inline-block;
  /* margin-left: 3000px; */
  margin-top: 20px;
  
  vertical-align: center;
  /* width: auto; */
  text-align: right;
  /* flex: 2; */
  

} 
.headingCard1{
 
 

  height: auto;
  text-align: left;
  /* height: 190px; */
  text-align: left;
  margin-left:auto ;
  max-width: 100%;
  
  
}


.headingCard1 h5{
  font-weight:600;
  margin: 0;
  color:#007bff;
  max-width: auto;
  /* width: 110px; */
}

.headingCard1 h4{
  font-size: 40px;
  /* font-size: 50px; */
  font-weight: 510;
  line-height: 1em;
  margin-top: 18px;
  margin-bottom: 18px;
  color: hsla(180, 1%, 24%, 0.903);
  
}
.headingCard1 p{
  font-size: 17px;
  margin-top: 10px;
  max-width: 100%;

}
.btn{
  background-color: #007bff;
  
  color: #ffffff;
  border-radius: 8px;
  padding: 10px 20px;
  text-decoration: none;
  /* transition: background-color 0.3s, color 0.3s; */
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 600;
  /* font-size: 20px; */
}
.headingCard1 a.btn:hover{
 
  background-color:  #fff;
  color:#0056b3;
  border: 1px solid #0056b3;
  font-size: 17px;
  
}
@media screen and (max-width:768px){
  #fourthsec{
    display: flex;
    flex-direction: column !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
  }
  .imageCard1,
  .headingCard1 {
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: auto;
    /* flex: 1; */
  }
  .imageCard1{
    order: 1;
  }
  .headingCard1{
    order: 2;
  }
}

@media screen and (max-width:576pxpx) {
  #fourthsec{
    display: flex;
    flex-direction: column !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
  }
  .imageCard1 img{
    max-height: 400px;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
    flex: -4;
    flex-direction: column;
    order: 1;
  }
  .headingCard1 h4{
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    order: 2;
    /* flex: 1; */
  }
}