.nav {
  width: 100%;
  /* background-color: #0dcaf0; */

  display: flex;
  align-items: center;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: #eff7f7;
}
.nav > .nav-header {
  flex: 0.95;
  padding-left: 1rem;
}
.nav > .nav-header > .nav-title {
  font-size: 22px;
  color: #141414;
}
.nav > .nav-list {
  display: flex;
  gap: 2rem;
}
.nav > .nav-list > li {
  list-style-type: none;
}
.nav > .nav-list > li a {
  text-decoration: none;
  color: #141414;
  cursor: pointer;
  margin: 3px;
}
.nav > #nav-check {
    display: none;
}
@media (max-width: 680px) {
  .nav {
    padding: 1rem;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.2rem;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #141414;
  }
  .nav > .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color:#eff7f7;
    height: 0;
    transition: all 0.3s ease-in;
    top: 40px;
    left: 0;
    overflow: hidden;
    padding-left: 70px;
    /* padding-right: -20px !important; */
  }
  .nav > .nav-list > li {
    width: 100%;
    margin-top: 1.5rem;
   
  }
  .nav > #nav-check:checked ~ .nav-list {
    height: calc(100vh - 50px);
  }
}

.nav-list .purchase{
  border: 2px solid rgb(37, 36, 36);
  border-radius: 40px;
  margin-left: 35px;
  padding: 6px;
  font-size: 18px;
  font-weight: 600;
}
.nav-btn{
  margin-top: 30px;
}

.nav > .nav-list > li a:hover{
  color: rgb(30, 30, 133);
  text-decoration: underline;
}


.nav-list .purchase:hover{
  border: 2px solid  rgb(34, 34, 150);
  text-decoration: none !important;
}
.nav-title{
  margin-bottom: -4px;
  margin-left: 30px;
  margin-right: -30px;
}
.nav-list{margin-left: -40px;}